html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, q:before, blockquote:after, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    height: 100%;
}

html {
    font-size: 10px
}

body {
    font: 1.2em Arial, Helvetica, sans-serif
}

h1, h2, h3, h4, h5, h6, strong, b {
    font-weight: bold
}

em, i {
    font-style: italic
}

input, textarea, select, button, .button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    font-size: 1em;
    line-height: 1;
    font-family: inherit
}

input:focus, textarea:focus, select:focus, button:focus, .button:focus {
    outline: 0
}

label, input, select, button, .button {
    display: inline-block;
    vertical-align: middle;
    vertical-align: middle
}

button, .button {
    cursor: pointer
}

button:disabled, .button:disabled, button[disabled], .button[disabled] {
    cursor: not-allowed
}

input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, button::-moz-focus-inner {
    padding: 0;
    border: 0
}

input::-ms-clear {
    display: none
}

a, .link-pseudo {
    text-decoration: underline;
    cursor: pointer
}

.form-required, .fieldset1 .legend:first-child, #branded_header {
    display: none
}

#content {
    height: 100%;
    padding: 0 15px
}

fieldset {
    border: 0
}

label {
    width: 70px
}

input {
    display: inline-block;
    vertical-align: middle;
    width: 140px;
    margin: 0;
    padding: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px
}

.form_row {
    margin: 5px 0
}

.phone_input_wrapper {
    display: inline-block !important;
    vertical-align: middle
}

.phone_input_wrapper > div {
    display: inline-block;
    vertical-align: middle;
    vertical-align: bottom;
    margin-left: 1px
}

.phone_input_wrapper > div:first-child {
    margin: 0
}

.phone_input_wrapper label {
    width: 100%;
    margin: 0 0 2px;
    font-size: 10px;
    text-align: center
}

.phone_country, .phone_label_country {
    width: 40px
}

.phone_city, .phone_label_area {
    width: 30px
}

.phone_main, .phone_label_number {
    width: 62px
}

.phone_label_country, .phone_label_area, .phone_label_number {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden
}

.optin {
    position: relative;
    width: 100%;
    margin: 5px 0 0 0;
    padding: 2px 0 0 20px;
    line-height: 1.3em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.optin input {
    position: absolute;
    top: 0;
    left: 0;
    width: auto
}

.submit_btn {
    cursor: pointer
}

.submit_btn:hover {
    opacity: .9;
    -ms-filter: "alpha(opacity=90)";
    filter: alpha(opacity=90)
}

.ar input[type="text"], .he input[type="text"] {
    direction: rtl
}

.ar .form1 #first_name_label, .he .form1 #first_name_label, .ar .form1 #last_name_label, .he .form1 #last_name_label, .ar .form1 #email_label, .he .form1 #email_label, .ar .form1 #phone_label, .he .form1 #phone_label {
    text-align: right
}

.ar .form_row, .he .form_row {
    overflow: hidden
}

.ar .form1 label, .he .form1 label {
    float: right
}

.ar .phone_input_wrapper, .he .phone_input_wrapper {
    margin-left: -8px
}

.ar .phone_input_wrapper > div, .he .phone_input_wrapper > div {
    float: right;
    margin-left: 4px;
    margin-right: 0
}

.ar .phone_input_wrapper label, .he .phone_input_wrapper label {
    float: none
}

.ar #checkbox_label, .he #checkbox_label {
    text-align: right;
    padding-right: 20px;
    padding-left: 0
}

.ar #registration_opt_in, .he #registration_opt_in {
    left: auto;
    right: 0
}

body {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background: url(/dms/top/img/widgets/bg-registration-winner-en.png) 0 0 no-repeat
}

#content {
    position: relative;
    background-repeat: no-repeat
}

.jp #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-jp.png)
}

.cz #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-cz.png)
}

.cn #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-cn.png)
}

.aa #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-aa.png)
}

.ab #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ab.png)
}

.ae #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ae.png)
}

.af #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-af.png)
}

.ak #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ak.png)
}

.am #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-am.png)
}

.an #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-an.png)
}

.ar #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ar.png)
}

.as #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-as.png)
}

.av #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-av.png)
}

.ay #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ay.png)
}

.az #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-az.png)
}

.ba #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ba.png)
}

.be #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-be.png)
}

.bg #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-bg.png)
}

.bh #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-bh.png)
}

.bi #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-bi.png)
}

.bm #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-bm.png)
}

.bn #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-bn.png)
}

.bo #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-bo.png)
}

.br #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-br.png)
}

.bs #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-bs.png)
}

.ca #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ca.png)
}

.ce #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ce.png)
}

.ch #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ch.png)
}

.co #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-co.png)
}

.cr #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-cr.png)
}

.cs #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-cs.png)
}

.cu #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-cu.png)
}

.cv #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-cv.png)
}

.cy #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-cy.png)
}

.da #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-da.png)
}

.de #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-de.png)
}

.dv #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-dv.png)
}

.dz #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-dz.png)
}

.ee #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ee.png)
}

.el #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-el.png)
}

.en #content {
    background-image: url(https://static.web-shield.com/secure/24winner/images/bg-registration-winner-en.png)
}

.eo #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-eo.png)
}

.es #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-es.png)
}

.et #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-et.png)
}

.eu #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-eu.png)
}

.fa #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-fa.png)
}

.ff #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ff.png)
}

.fi #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-fi.png)
}

.fj #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-fj.png)
}

.fo #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-fo.png)
}

.fr #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-fr.png)
}

.fy #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-fy.png)
}

.ga #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ga.png)
}

.gd #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-gd.png)
}

.gl #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-gl.png)
}

.gn #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-gn.png)
}

.gu #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-gu.png)
}

.gv #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-gv.png)
}

.ha #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ha.png)
}

.he #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-he.png)
}

.hi #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-hi.png)
}

.ho #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ho.png)
}

.hr #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-hr.png)
}

.ht #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ht.png)
}

.hu #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-hu.png)
}

.hy #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-hy.png)
}

.hz #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-hz.png)
}

.ia #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ia.png)
}

.id #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-id.png)
}

.ie #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ie.png)
}

.ig #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ig.png)
}

.ii #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ii.png)
}

.ik #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ik.png)
}

.io #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-io.png)
}

.is #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-is.png)
}

.it #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-it.png)
}

.iu #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-iu.png)
}

.ja #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ja.png)
}

.jv #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-jv.png)
}

.ka #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ka.png)
}

.kg #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-kg.png)
}

.ki #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ki.png)
}

.kj #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-kj.png)
}

.kk #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-kk.png)
}

.kl #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-kl.png)
}

.km #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-km.png)
}

.kn #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-kn.png)
}

.ko #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ko.png)
}

.kr #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-kr.png)
}

.ks #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ks.png)
}

.ku #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ku.png)
}

.kv #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-kv.png)
}

.kw #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-kw.png)
}

.ky #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ky.png)
}

.la #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-la.png)
}

.lb #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-lb.png)
}

.lg #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-lg.png)
}

.li #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-li.png)
}

.ln #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ln.png)
}

.lo #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-lo.png)
}

.lt #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-lt.png)
}

.lu #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-lu.png)
}

.lv #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-lv.png)
}

.mg #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-mg.png)
}

.mh #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-mh.png)
}

.mi #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-mi.png)
}

.mk #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-mk.png)
}

.ml #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ml.png)
}

.mn #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-mn.png)
}

.mr #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-mr.png)
}

.ms #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ms.png)
}

.mt #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-mt.png)
}

.my #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-my.png)
}

.na #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-na.png)
}

.nb #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-nb.png)
}

.nd #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-nd.png)
}

.ne #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ne.png)
}

.ng #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ng.png)
}

.nl #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-nl.png)
}

.nn #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-nn.png)
}

.no #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-no.png)
}

.nr #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-nr.png)
}

.nv #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-nv.png)
}

.ny #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ny.png)
}

.oc #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-oc.png)
}

.oj #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-oj.png)
}

.om #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-om.png)
}

.or #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-or.png)
}

.os #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-os.png)
}

.pa #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-pa.png)
}

.pi #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-pi.png)
}

.pl #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-pl.png)
}

.ps #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ps.png)
}

.pt #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-pt.png)
}

.qu #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-qu.png)
}

.rm #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-rm.png)
}

.rn #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-rn.png)
}

.ro #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ro.png)
}

.ru #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ru.png)
}

.rw #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-rw.png)
}

.sa #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-sa.png)
}

.sc #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-sc.png)
}

.sd #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-sd.png)
}

.se #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-se.png)
}

.sg #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-sg.png)
}

.si #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-si.png)
}

.sk #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-sk.png)
}

.sl #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-sl.png)
}

.sm #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-sm.png)
}

.sn #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-sn.png)
}

.so #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-so.png)
}

.sq #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-sq.png)
}

.sr #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-sr.png)
}

.ss #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ss.png)
}

.st #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-st.png)
}

.su #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-su.png)
}

.sv #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-sv.png)
}

.sw #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-sw.png)
}

.ta #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ta.png)
}

.te #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-te.png)
}

.tg #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-tg.png)
}

.th #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-th.png)
}

.ti #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ti.png)
}

.tk #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-tk.png)
}

.tl #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-tl.png)
}

.tn #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-tn.png)
}

.to #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-to.png)
}

.tr #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-tr.png)
}

.ts #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ts.png)
}

.tt #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-tt.png)
}

.tw #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-tw.png)
}

.ty #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ty.png)
}

.ug #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ug.png)
}

.uk #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-uk.png)
}

.ur #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ur.png)
}

.uz #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-uz.png)
}

.ve #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-ve.png)
}

.vi #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-vi.png)
}

.vo #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-vo.png)
}

.wa #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-wa.png)
}

.wo #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-wo.png)
}

.xh #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-xh.png)
}

.yi #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-yi.png)
}

.yo #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-yo.png)
}

.za #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-za.png)
}

.zh #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-zh.png)
}

.zu #content {
    background-image: url(/dms/top/img/widgets/bg-registration-winner-zu.png)
}

fieldset {
    padding-top: 72px
}

label {
    display: inline-block !important;
    vertical-align: middle;
    color: #a8a9ad
}

.phone_input_wrapper label {
    display: block !important;
    color: #fff
}

#opt_in_row {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 65px;
    max-height: 36px;
    overflow: hidden;
    color: #fff
}

.submit_btn {
    position: absolute;
    left: 19px;
    bottom: 10px;
    width: 228px;
    height: 47px;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
    background-color: #3d8000;
    background-image: -webkit-linear-gradient(#6aa800, #3d8000);
    background-image: -moz-linear-gradient(#6aa800, #3d8000);
    background-image: -o-linear-gradient(#6aa800, #3d8000);
    background-image: -ms-linear-gradient(#6aa800, #3d8000);
    background-image: linear-gradient(#6aa800, #3d8000)
}